<%%= bootstrap_form_for(<%= "[:#{prefix}, @#{singular_table_name}]" %>) do |f| %>
 <div class="box-body">
<% attributes.each do |attribute| -%>
<% if attribute.password_digest? -%>
    <%%= f.password_field :password %>
    <%%= f.password_field :password_confirmation %>
<% else -%>
  <% if attribute.reference? -%>
    <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
  <% else -%>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  <% end -%>
<% end -%>

<% end -%>
</div>
  <div class="box-footer">
    <%%= f.primary %>
  </div>
<%% end %>
