<div class="box-body">
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%%= t('<%= "activerecord.attributes.#{singular_table_name}.#{attribute.name}" %>') %></th>
<% end -%>
      <th></th>
    </tr>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td><%%= link_to t('model.action.show'), <%= "[:#{prefix}, #{singular_table_name}]" %> %>
        <%%= link_to t('model.action.edit'), edit_<%= prefixed_plain_model_url %>_path(<%= singular_table_name %>) %>
        <%%= link_to t('model.action.destroy'), <%= "[:#{prefix}, #{singular_table_name}]" %>, method: :delete, data: { confirm: t('model.action.confirm_destroy') } %></td>
      </tr>
    <%% end %>
  </tbody>
</table>
</div>
